<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/4bf3992d10.js"></script>
    <title>Indieclono</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDPhIt2dsEfbLvodELR9OpHDHmX-bFoboo"%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
